.forcast-main{
    background: rgba(255, 255, 255, 0.053);
    border-radius: 14px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(255, 255, 255);
    padding: 25px 30px;
    width: 500px;
    margin: auto;
    transition: 0.2s ease-out;
}

.forcast-heading{
    padding: 0 5px;
    font-size: 20px;
    font-weight: 600;
}
.hourly-forcast-main{
    display: flex;
    justify-content: space-evenly;
}
.hourly-forcast{
    text-align: center;
}
.forcast-image{
    height: 40px;
}